* { box-sizing: border-box; }

.messageBox {
    border-radius: 10px;
    padding: 10px;
    margin: 25px;
    color: rgb(255, 255, 255);
    background-color: rgb(245, 111, 111);
}

.textBox {
    text-align: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

input[type=text] {
    width: 70%;
    padding: 10px 10px;
    border-radius: 20px;
    outline: none;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}