<!DOCTYPE html>
<html>
    <head>
        <title>SACS Help</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='chat.css') }}">
    </head>
    <body>
        <h1>2 bobux</h1>

        <div class="messageBox">
            {% for message in conversation %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>

        <form action="/bot" method="POST">
            <input type="text" id="userInput" name="userInput" placeholder="Type your message here">
            <input type="submit" value="Send">
        </form>
    </body>
</html>