<!DOCTYPE html>
<html>
    <body>
        <h1 style="font-family: Comic Sans MS", sans-serif>0 bobux</h1>
        <p>
            Yes hello this is not the bot, im here to explain the joke.
            Basically... (explain the function of the program)
        </p>
        <input type="button" id="theButton" text="Click here for bot">
        <script>
            document.getElementById("theButton").onclick = function() {
                location.href = "/bot";
            }
        </script>
    </body>
</html>