<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/main.css">
    </head>
    <body>
        <h1>Help Bot @ SACS</h1>
        <p>
            This is a bot meant for students to interact with.<br>
            With this bot you can ask it for directions to each part of the school<br>
            or ask it for study help.

            To request an explanation of its features, type "I don't know what to do" into the text box on the next page.
        </p>
        <div>
            <input type="button" id="theButton" value="Click here for bot">
        </div>
        <script>
            document.getElementById("theButton").onclick = function() {
                location.href = "/bot";
            }
        </script>
    </body>
</html>